* {    
  padding: 0;   
  margin: 0;   
  box-sizing: border-box; 
}  

html, body {   
  width: 100vw;   
  height: 100vh;   
  overflow: hidden;  
  display: flex;   
  flex-direction: column;   
  justify-content: center;   
  align-items: center;  
  background: url('background-todo.svg') no-repeat center center fixed;   
  background-size: cover;   /* Redimensiona de acordo com a tela */
  font-size: 16px;   
  font-family: 'Century Gothic', 'Arial', sans-serif; 
}  

.todo-logo {
  display: block;
  max-width: 175px; /* Ajuste conforme necessário */
  height: auto;
  margin: 0 auto 1rem; /* Centraliza e adiciona espaçamento abaixo */
}

.todoBox {
  padding: 1rem;
  background: rgba(214, 71, 133, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: -57px 46.5px 26.175px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  overflow-y: auto; /* Habilita o scroll vertical */
  max-height: 70vh; /* Define uma altura máxima */
  position: relative;
}

.todoBox::-webkit-scrollbar {
  width: 8px; /* Largura do scroll */
}

.todoBox::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Cor de fundo */
  border-radius: 4px;
}

.todoBox::-webkit-scrollbar-thumb {
  background: rgba(214, 71, 133, 0.5); /* Cor do scroll */
  border-radius: 4px;
}

.todoBox::-webkit-scrollbar-thumb:hover {
  background: rgba(214, 71, 133, 0.7); /* Cor do scroll ao passar o mouse */
}

.horizontal {   
  display: flex;   
  flex-direction: row;   
  gap: 0.5rem; 
  align-items: flex-start; /* Alinha os ícones na parte superior */
}  

input {   
  font-size: 1rem;
  padding: 0.5rem;   
  border-radius: 100vw;   
  border: 1px solid #aaa;  
  width: 100%; 
  font-family: 'Century Gothic', 'Arial', sans-serif;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(30px);
}  

button {   
  padding: 0.25rem 0.5rem; 
  font-family: 'Century Gothic', 'Arial', sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-icon {
  width: 32px; 
  height: 32px; 
  background: url('edit-icon.png') no-repeat center center;
  background-size: contain;
}

.confirm-icon {
  width: 32px; 
  height: 32px; 
  background: url('confirm-icon.png') no-repeat center center;
  background-size: contain;
}

.close-icon {
  width: 32px; 
  height: 32px; 
  background: url('close-icon.png') no-repeat center center;
  background-size: contain;
}

#proceduralTasks {   
  display: flex;   
  flex-direction: column;   
  gap: 1rem; 
}  

.task {   
  display: flex;   
  flex-direction: row;   
  gap: 0.25rem;   
  position: relative; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Linha de separação */
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem; /* Espaçamento entre os itens */
}

.task:last-child {
  border-bottom: none; /* Remove a linha do último item */
}

.taskName {   
  width: 100%; 
  font-family: 'Century Gothic', 'Arial', sans-serif;
  font-size: 1rem;
  color: white; 
}  

.taskName.finished {   
  text-decoration: line-through; 
}  

.editPanel {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(126, 0, 75, 100%);
  padding: 1rem;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Century Gothic', 'Arial', sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 20%; 
}

.editPanel h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 100%;
}